*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

.container {
	width: 100%;
	padding: 50px 15px;
	max-height: 100vh;
}

.slider--item img {
	max-height: 500px;
	width: 100%;
}

/* Стили слайдера */

.slider--wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slider--container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2rem;
}

.slider--item {
	width: 100%;
	display: none;
}

.slider--item.slider--item__active {
	display: block;
}

.slider--navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.slider--dots {
	min-width: 80px;
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.slider--dot {
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: #000;
	border-radius: 100%;
	opacity: 0.4;
	border: none;
}

.slider--dot:focus {
	outline: none;
}

.slider--dot.active {
	opacity: 1;
}

.slider--previous,
.slider--next {
	font-size: 2rem;
	line-height: 0;
	outline: none;
	opacity: 0.4;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.slider--previous:focus,
.slider--next:focus {
	outline: none;
}

.slider--previous {
	margin-right: 2rem;
}
.slider--next {
	margin-left: 2rem;
}

.slider--previous:hover,
.slider--next:hover {
	opacity: 1;
}

.slider--counter {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 1rem 0;
	text-align: center;
}

.slider--counter__current {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1;
	margin-right: 0.4rem;
}

.slider--counter__total {
	font-weight: 500;
	opacity: 0.8;
	line-height: 1;
	margin-left: 0.4rem;
}

.slider--counter__divider {
	font-weight: 400;
	line-height: 1;
}
